a.logo img {
    width: 320px !important;
    margin-left: 15px !important;
}

a.logo:hover>img {
    opacity: 1 !important;
}

.sf-menu>li {
    padding: 0 5px !important;
    padding-top: 10px !important;
}

.sf-menu li>ul {
    padding: 15px 0 !important;
    max-height: 355px;
    overflow-y: auto;
    top: 75% !important;
}

.sf-menu li>ul li {
    padding: 0px 25px !important;
}

.sf-menu li>ul li a {
    padding: 3px 3px 3px 0;
    font-size: 14px !important;
}

.sf-menu li>ul li a i {
    font-size: 12px !important;
}

.ds .sf-menu>li>a {
    color: #fff !important;
}

.page_header.ds.affix {
    background-color: #fff !important;
}

.affix .sf-menu>li>a {
    color: #09445a !important;
}

.affix.header-1 .toggle_menu:not(.toggle_menu_side_special):after,
.affix.header-1 .toggle_menu:not(.toggle_menu_side_special):before {
    background-color: #09445a !important;
}

.affix .toggle_menu span {
    color: #09445a !important;
}

.page_header input[type="text"] {
    padding: 3px 15px !important;
    color: white !important;
    border-radius: 25px !important;
}

.page_header.affix input[type="text"] {
    border: 2px solid #09445a !important;
    color: #09445a !important;
}

#SearchBtn {
    border-radius: 5px;
    margin: 0px 5px;
    border: none !important;
    background-color: white !important;
    padding: 2px 10px;
    border-radius: 5px;
    color: #09445a !important;
}

#SearchBtn i {
    font-size: 15px !important;
}

.top-includes>li.metaphone {
    font-size: 18px;
}

/* .page_slider .intro_layers { padding: 80px 72px !important; margin-left: 48px !important; max-width: 565px !important; } */
h5.slider-box-hdng {
    font-size: 18px !important;
}

.widget.widget_mailchimp p {
    text-align: justify !important;
}

.divider-25 {
    margin-bottom: 25px !important;
}

.portfolio-section.indus-we-serve {
    background-image: none !important;
    background-color: #fff !important;
}

.page_slider .flex-control-nav li a.flex-active span.span-active {
    display: none !important;
}

.portfolio .vertical-item .item-content.small-padding {
    padding: 25px 15px !important;
}

.vertical-item.content-padding .item-content {
    padding: 20px !important;
}

h6.pdt-hdng {
    height: 40px !important;
}

h6.hm-pdt-hdng {
    height: 30px !important;
}

.contact-anchor a:hover {
    cursor: initial !important;
    color: #09445a !important;
}

.hvr-clr a:hover {
    color: #dd4454 !important;
}

.careers {
    background-color: #f1f5f8 !important;
    background-image: none !important;
}

.our-services .icon-box img {
    height: 55px !important;
}

.our-services .icon-box.ls {
    padding: 55px 44px !important;
}

.our-services .icon-box .link-icon .grey-bg:hover {
    background: white !important;
}

.explore-btn {
    border-color: #dd4454 !important;
    color: #09445a !important;
}

.explore-btn:hover {
    background-color: #dd4454 !important;
    color: #fff !important;
}

.page_footer .widget_nav_menu ul li a:hover {
    color: #dd4454 !important;
}

.big-btn.sm-btn {
    padding: 15px 12px !important;
    min-width: 150px !important;
}

[class*="-item"] .links-wrap a {
    width: 45px !important;
    height: 35px !important;
    font-size: 16px !important;
    line-height: 2 !important;
}

.media-links div {
    margin-top: -45px !important;
}

.item-content.bg-white h6 a {
    color: #22576a !important;
}

.on-hover-clr:hover .item-content h6 a {
    color: #dd4454 !important;
}

.page_slider .flexslider .slides {
    height: 100vh !important;
}

ul.list-styled li {
    text-align: left !important;
}

.clr-red {
    color: #fa1d1f;
    font-weight: 400;
}

.clr-black {
    color: black;
    font-weight: 500;
    text-decoration: underline;
}

.txt-bld {
    font-weight: bold !important;
}

.vertical-item.content-padding .item-content.pb-non {
    padding-bottom: 0px !important;
}

/* 01-08-2022 */
ul.list-unstyled li:before {
    color: #dd4454;
    content: "\f061";
    display: inline-block;
    font-family: "Font Awesome 5 Free", sans-serif;
    font-size: 12px;
    font-weight: 900;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 12px;
}

ul.list-arr li:before {
    content: "\f0da";
}

.pt-100 {
    padding-top: 100px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.map-contact .form-wrapper.ls {
    padding: 30px 35px !important;
}

.map-contact .form-control {
    padding: 5px 15px !important;
}

@media only screen and (max-width: 1024px) {
    .page_slider .intro_layers {
        margin-left: 0 !important;
    }

    a.logo img {
        max-height: none !important;
        margin-left: 15px !important;
        width: 100% !important;
    }

    .sf-menu li>ul {
        max-height: none !important;
    }

    .affix .sf-menu>li>a {
        color: white !important;
    }

    h6.pdt-hdng {
        height: 25px !important;
    }

    h6.hm-pdt-hdng {
        height: 10px !important;
    }

    .header-1 .toggle_menu:not(.toggle_menu_side_special) {
        left: 50% !important;
    }

    .header-1 .toggle_menu:not(.toggle_menu_side_special).mobile-active {
        left: auto !important;
    }
}

@media only screen and (max-width: 768px) {
    a.logo img {
        width: auto !important;
        margin-right: 0px !important;
    }

    a.logo {
        margin-bottom: 0px !important;
    }

    h6.hm-pdt-hdng {
        height: 15px !important;
    }

    .our-services .icon-box.ls {
        padding: 30px 25px !important;
    }

    .our-services .icon-box.ls h5 {
        font-size: 1.3rem !important;
    }

    .related .item-content {
        height: 100px !important;
    }
}

@media only screen and (max-width: 575px) {
    .logo {
        padding-bottom: 10px !important;
    }

    /* .header-1 .toggle_menu:not(.toggle_menu_side_special):before { top:40% !important; } .header-1 .toggle_menu:not(.toggle_menu_side_special):after { bottom:0% !important; } .header-1 .toggle_menu:not(.toggle_menu_side_special) span { top:70% !important; }*/
    .header-1 .toggle_menu:not(.toggle_menu_side_special) {
        top: 40px !important;
        left: auto !important;
    }

    .header-1 .toggle_menu:not(.toggle_menu_side_special).mobile-active {
        top: 3px !important;
    }

    .toggle_menu {
        height: 55px !important;
        padding-bottom: 10px !important;
    }

    h6.pdt-hdng {
        height: auto !important;
        margin-bottom: 0.5em !important;
    }

    h6.hm-pdt-hdng {
        height: auto !important;
        margin-bottom: 0.5em !important;
    }

    .tabs-accardion .nav-tabs .nav-item {
        width: fit-content !important;
        padding: 3px !important;
    }

    .breadcrumb {
        padding: 6px 10px !important;
    }

    .related .item-content {
        height: auto !important;
    }

    .list-styled ul li,
    ul.list-styled li {
        padding-left: 20px !important;
    }
}

@media only screen and (max-width: 340px) {
    .toggle_menu {
        height: 50px !important;
    }

    .header-1 .toggle_menu:not(.toggle_menu_side_special) {
        top: 38px !important;
    }
}